ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: thistle;
    margin: 50px;
    border-radius: 20px;
}

li {
    margin: 20px;
}

.deck-of-cards {
    color: black;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}